body {
  font-family: 'Signika Negative', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: ; */
  background-image: linear-gradient(to left, #121522, #24293e );
  color: rgba(0, 0, 0, 0.799)
}